{% extends 'base.html.twig' %}

{% block header_title %}
    Edit conversation - {{ conversation.name }}
{% endblock %}

{% block header_actions %}
    <button type="submit" form="{{ field_id(form) }}" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-400">Save</button>
{% endblock %}

{% block content %}
    {{ form_start(form, {attr: {id: field_id(form)}}) }}
        <div class="divide-y divide-gray-200 dark:divide-white/10">
            <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
                <div>
                    <h2 class="text-base/7 font-semibold text-gray-900 dark:text-white">Conversation Information</h2>
                    <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">Basic information about this conversation</p>
                </div>

                <div class="md:col-span-2">
                    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
