{% extends 'base.html.twig' %}

{% block header_title %}Projects{% endblock %}
{% block header_actions %}
    <a href="{{ path('app_project_new') }}" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-400">New</a>
{% endblock %}

{% block content %}
    <div class="px-4 py-12 sm:px-6 lg:px-8 mx-auto">
        <ul role="list" class="divide-y divide-gray-100 dark:divide-white/5">
            {% for project in projects %}
                <li class="flex items-center justify-between gap-x-6 py-5">
                    <div class="min-w-0">
                        <div class="flex items-start gap-x-3">
                            <p class="text-sm/6 font-semibold text-gray-900 dark:text-white">{{ project.name }}</p>
                        </div>
                        <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500 dark:text-gray-400">
                            <p class="whitespace-nowrap">{{ project.sources|length }} sources</p>
                        </div>
                    </div>
                    <div class="flex flex-none items-center gap-x-4">
                        <a href="{{ path('app_project_edit', {id: project.id}) }}" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 sm:block dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20">Edit project<span class="sr-only">, {{ project.name }}</span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
