{% extends 'base.html.twig' %}

{% block header_title %}
    {{ 'sources.title'|trans({'%name%': project.name}) }}
{% endblock %}

{% block content %}
    <div class="py-6 px-4 sm:py-8 sm:px-6 lg:py-12 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold text-gray-900 dark:text-white">{{ 'sources.sources'|trans }}</h1>
                <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">{{ 'sources.sources_desc'|trans }}</p>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="relative min-w-full divide-y divide-gray-300 dark:divide-white/15">
                        <thead>
                            <tr>
                                <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0 dark:text-white">{{ 'sources.source'|trans }}</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">{{ 'sources.number_of_documents'|trans }}</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-white">{{ 'sources.last_update'|trans }}</th>
                                <th scope="col" class="py-3.5 pr-4 pl-3 sm:pr-0">
                                    <span class="sr-only">{{ 'sources.sync_now'|trans }}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 dark:divide-white/10">
                            {% for source in project.sources %}
                                <tr>
                                    <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0 dark:text-white">{{ source.type.value|humanize }}</td>
                                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">{{ source.documents|length }}</td>
                                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                                        {% if source.lastUpdatedAt is not null %}{{ source.lastUpdatedAt|format_datetime('long', 'short') }}{% endif %}
                                    </td>
                                    <td class="py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0">
                                        <a href="{{ path('app_project_source_update', {project: project.id, source: source.id}) }}" class="text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300">{{ 'action.force_sync'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
